.button-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.gis-button-container {
  display: flex;
}

.container-background {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  width: 300px;
  background-color: white;
  z-index: 90;
}

.bottom-toolbar {
  display: flex;
  max-width: 100px;
  column-gap: 10px;
}
