.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: crosshair;
}

.overlay > Button {
  pointer-events: all;
}

.button-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.gis-button-container {
  display: flex;
}

.container-background {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  width: 300px;
  background-color: white;
  z-index: 90;
}

.bottom-toolbar {
  display: flex;
  max-width: 100px;
  column-gap: 10px;
}
