.scanner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
  pointer-events: auto; /* Permitir clics en elementos dentro del modal */
}

.scanner-exit {
  position: relative;
  /*text-align: right;*/
  float: right;
  margin-left: auto;
  font-weight: 600;
  cursor: pointer;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 400;
}

.scanner-container {
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scanner-image {
  height: 50%;
}
